// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$green: #1EDD88;
$gray: #0E0000;
$white: white;

$brown: #77021D;
$yellow: #F6B339;
$orange1: #DA7B27;
$mandarine: #D7572B;
$red: #C23028;
