.offer-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);

  bottom: 0;
  left: 0;
  right: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 2;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.chef {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.meal {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 261px
}

.images-container {
  height: 532px
}
.button-76 {
  position : right;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  padding: 0 18px;
  right: 135px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

.button-76:hover {
  background-color: #fbeee0;
  color: #422800;
  opacity: 0.5;
}

.button-76:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
