<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <!-- We need this line below for responsiveness! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000/">
      <img src="https://static.vecteezy.com/ti/vecteur-libre/t2/623819-hat-chef-logo-et-symboless-gratuit-vectoriel.jpg" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000/"></a>
          </li>
          <li class="nav-item dropdown">

            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://media.istockphoto.com/id/1190343179/fr/vectoriel/menu-du-site-web-ligne-forme-dic%C3%B4ne-de-liste-signe-de-logo-de-symbole-de-page.jpg?s=170667a&w=0&k=20&c=V5TngWrPQnsOqn_Wh0Ia_Uaw-yxbquGHoHb95O3VYBQ=" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://localhost:3000/users/sign_in">Log in</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

  <div class="banner" style="background-image: url(https://wallpapercave.com/wp/wp1955108.jpg);">
    <div class="container">
      <h1> Air Cooker</h1>
      <p> Ne vous deplacez plus pour bien manger, la cuisine vient à vous</p>
      <%= link_to "Voir nos offres", offers_path, class: 'button-5' %>
    </div>
  </body>
</html>
