<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <!-- We need this line below for responsiveness! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <div class="banner" style="background-image: url(https://wallpapercave.com/wp/wp1955108.jpg);">
    <div class="container">
      <h1> Air Cooker</h1>
      <p> Ne vous deplacez plus pour bien manger, la cuisine vient à vous</p>
      <%= link_to "Voir nos offres", offers_path, class: 'button-5' %>
    </div>
  </body>
</html>
