<div class="container">
  <div class="row w-100 ">
    <div class="">
      <h1>CHEFS IN PARIS</h1>
      <div class="cards">
        <% @offers.each do |offer| %>
          <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="card">
                <img src= "<%=offer.picture_url%>">
                <%= link_to offer.name, offer_path(offer), class:"chef_name"%>
              </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to "Add a new offer", new_offer_path, class: 'button-74' %>
      </div>
  </div>
</div>

